<div class="clearfix">
    <tabset type="pills">
        <!--info, nieuws, chatbot-->
        <tab heading="Information" customClass="tabset">
            <div class="d-flex flex-column">
                <p>
                    Can you imagine one hub that has all the <strong>detailed information</strong> about beers and
                    breweries? We neither and that's one of the reasons why we want to do it together with you.
                </p>
                <p>
                    At Beerless we think it's important to provide the community <strong>a lot</strong>, but also
                    <strong>accurate</strong> information. That's why it is of the utter most importance that every
                    beer has a fully fledged profile. Which contains not only <strong>technical details</strong>,
                    like alcohol percentage , but also a <strong>taste profile</strong> and <strong>description</strong>.
                </p>
                <p>
                    This is something we can't do by ourselves, not even if we wanted to. That's why we need <strong>YOUR</strong>
                    help!
                </p>
            </div>
        </tab>
        <tab heading="Chatbot" customClass="tabset">
            <p>
                At Beerless we think it is important that you can easily access all the information you want, that is
                why we created the <strong>Beerless Chatbot</strong>. A chatbot you can ask anything related to beers
                or breweries.
            </p>
            <p>
                For example if you want to discover some new beers like Westvleteren. You can simply ask our chatbot and
                he will return you some beers with a <strong>similar taste profile</strong>.
            </p>
        </tab>
        <tab heading="Beer news" customClass="tabset">
            <div class="d-flex flex-column">
                <p>
                    At Beerless, we think it's important that a beer geek is up-to-date with the <strong>latest beer
                    news.</strong>
                </p>
                <p>
                    Like everything else, we want to accomplish this with our community. Everyone can write articles or
                    make blogposts that are related to beer.
                </p>
            </div>
        </tab>
    </tabset>
</div>
