<div class="container">
    <div class="error-message d-flex flex-wrap align-items-center">
        <div class="col-md-6 col-12 mb-md-0 mb-5">
            <img src="/assets/images/broken_beer.gif" alt="" class="error-gif rounded"/>
        </div>
        <div class="col-md-6 col-12">
            <h1 class="font-weight-bold text-primary">Ooops...</h1>
            <p>Looks like something just broke!</p>
            <p>Try refreshing this page. If that doesn't fix the problem, go get yourself a beer and come back a few
                minutes later.</p>
        </div>
    </div>
</div>
