<div class="d-flex flex-row">


    <!-- Message after sign-in up -->

    <div class="h-100 d-flex align-items-center" *ngIf="registrationSuccessful">
        <div>
            <h3 class="mb-5 font-weight-bold text-primary">Congrats!</h3>
            <h5 class="mb-3 text-muted">
                You are now an official member of the best and nicest craftbeer community!
            </h5>
            <h5 class="mb-3 text-muted">
                Before you can get started, please <strong>verify your e-mail</strong>.
            </h5>
            <h5 class="mb-5 text-muted">
                Thanks!
            </h5>
            <span class="small">Didn't receive an e-mail? <a (click)="sendVerificationEmail()"
                                                             class="link-yellow-underline">Resend verification e-mail</a></span>
        </div>
    </div>


    <!-- Signup form -->

    <div *ngIf="!registrationSuccessful">
        <h4 class="mb-3 font-weight-bold text-primary">Bèta sign up</h4>
        <form novalidate [formGroup]="formRegister" (ngSubmit)="register()" autocomplete="off">

            <beerless-input [id]="'firstName'" [type]="'text'" [label]="'First name'"
                            [formControl]="formRegister.get('firstName')"
                            [errorTypes]="['required']"
                            [errorMessages]="['Enter your first name!']"
                            formControlName="firstName"
            ></beerless-input>

            <beerless-input [id]="'lastName'" [type]="'text'" [label]="'Last name'"
                            [formControl]="formRegister.get('lastName')"
                            [errorTypes]="['required']"
                            [errorMessages]="['Enter your last name!']"
                            formControlName="lastName"
            ></beerless-input>

            <beerless-input [id]="'username'" [type]="'text'" [label]="'Username'"
                            [formControl]="formRegister.get('username')"
                            [errorTypes]="['required', 'minlength', 'maxlength', 'pattern']"
                            [errorMessages]="['Enter your username!', 'Username must contain at least 3 characters!',
                                    'Username can contain a maximum of 25 characters!', 'Username can only contain letters, figures and hyphens!']"
                            formControlName="username"
            ></beerless-input>

            <beerless-input [id]="'email'" [type]="'text'" [label]="'Email'"
                            [formControl]="formRegister.get('email')"
                            [errorTypes]="['required', 'email']"
                            [errorMessages]="['Enter your Email!', 'Fill in a valid email!']"
                            formControlName="email"
            ></beerless-input>

            <beerless-input [id]="'password'" [type]="'password'" [label]="'Password'"
                            [formControl]="formRegister.get('password')"
                            [errorTypes]="['required', 'minlength', 'pattern']"
                            [errorMessages]="['Enter your password!', 'Password must contain at least 8 characters!',
                                    'Password must contain at least 1 letter, 1 capital letter and 1 figure!']"
                            formControlName="password"
            ></beerless-input>


            <!-- Server side error messages -->

            <beerless-server-side-messages [messages]="serverSideMessages"></beerless-server-side-messages>


            <!-- Warning messages -->

            <div class="mb-3">
                <small>
                    You must have the legal drinking age in your country in order to sign up at Beerless.
                    By <strong>registering</strong>, you agree with our
                    <a href="https://www.beerless.be/assets/Voorwaarden/Privacy_Beleid_Beerless.pdf"
                       target="_blank">terms and conditions</a>.
                </small>
            </div>


            <!-- Submit form -->

            <div class="form-group text-center">
                <button class="btn btn-primary text-white px-5" type="submit"
                        [disabled]="formRegister.invalid">Sign up
                </button>
            </div>


            <!-- Link to sign in -->

            <!--                    <p class="text-center small">-->
            <!--                        Already have an account?-->
            <!--                        <strong>-->
            <!--                            <a routerLink="/sign-in">Sign in</a>-->
            <!--                        </strong>-->
            <!--                    </p>-->
        </form>
    </div>
</div>

