<div class="clearfix">
    <tabset type="pills">
        <!--info, nieuws, chatbot-->
        <tab heading="Informatie" customClass="tabset">
            <div class="d-flex flex-column">
                <p>
                    Kan jij je een plaats op het web bedenken waar je <strong>gedetailleerde informatie</strong> vindt over
                    bepaalde bieren en brouwerijen? Wij ook niet, en dat is één van de redenen voor het opstarten van dit
                    platform.
                </p>
                <p>
                    Bij Beerless vinden we het belangrijk om <strong>veel</strong> en vooral <strong>correcte
                    informatie</strong> te kunnen aanbieden aan onze community. Zo is het de bedoeling dat elk bier een
                    volledige omschrijving krijgt. Hierbij spreken we niet enkel over de <strong>technische details</strong>
                    , zoals het alcoholpercentage, maar ook <strong>smaakprofielen en -omschrijvingen</strong>.
                </p>
                <p>
                    Dit is iets dat we niet alleen kunnen realiseren. Helemaal niet. Hiervoor hebben we jullie hulp nodig,
                    de hulp van de community.
                </p>
            </div>
        </tab>
        <tab heading="Biernieuws" customClass="tabset">
            <div class="d-flex flex-column">
            <p>
                We vinden het bij Beerless ook belangrijk dat je als bierliefhebber altijd op de hoogte bent van de
                <strong>laatste nieuwtjes</strong> in de bierwereld.
            </p>
            <p>
                Dit wordt, net zoals de rest, samen met de community verwezenlijkt. Iedereen kan artikels of blogposts
                schrijven die biergerelateerd zijn.
            </p>
            </div>
        </tab>
        <tab heading="Bier chatbot" customClass="tabset">
            <p>

            </p>
        </tab>
    </tabset>
</div>