<div class="page-header">
    <div class="container-no-m">
        <span class="page-header-title">Privacy policy</span>
    </div>
</div>
<div class="container policies" id="privacy">
    <div class="card">
        <div class="card-body p-sm-5 p-4">
            <section>
                <p class="text-right">
                    <i>This Privacy Policy was revised last on <strong>06/05/2019</strong>.</i>
                </p>
            </section>
            <section>
                <h5>1.&nbsp;&nbsp;WHO WE ARE</h5>
                <p>
                    “We”, “us” or “our” means <strong>Beerless</strong>, with its registered office at <i>B-3500 Hasselt, Kempische Steenweg 311</i>
                    and with company number <i>BE 069.1905.750</i>. We act as controller for the personal data we gather through
                    your use of our website.
                </p>
                <p>
                    This Privacy Policy is solely intended to provide you with information in relation to the processing of
                    personal data through your use of the website. For our privacy practices in relation to our services, we
                    refer you to the agreement as may be concluded between us.
                </p>
                <p>
                    Your privacy is important to us, so we’ve developed this Privacy Policy that sets out how we collect,
                    disclose, transfer and use (“process”) the personal data that you share with us, and which rights you have.
                    Please take a moment to read through this policy.
                </p>
                <p>
                    If you have any questions, concerns or complaints regarding this Privacy Policy or our processing of your
                    personal data or you wish to submit a request to exercise your rights as set out in article 4, you can
                    contact us:
                </p>
                <ol>
                    <li>
                        Via-mail: <strong>privacy@beerless.be</strong> to the attention of our <i>Privacy Officer</i>);
                    </li>
                    <li>
                        By post: to <strong>Beerless, B-3500 Hasselt, Kempische Steenweg 311</strong>.
                    </li>
                </ol>
            </section>

            <section>
                <h5>2.&nbsp;&nbsp;HOW WE USE AND COLLECT YOUR PERSONAL DATA</h5>
                <p>
                    Personal data is defined as any information relating to an identified or identifiable natural person.
                    Identifiable refers to identifiers (such as name, identification number, location data, etc.), that can be
                    used to directly or indirectly identify a natural person.
                </p>
                <p>
                    The personal data we collect, is collected and used for the purposes as listed hereunder:
                </p>
                <ol>
                    <li>
                        In the event you use the contact form on our website, we will use your personal data in order to reply
                        to your query, via e-mail or telephone.
                    </li>
                    <li>
                        In the event you create a profile on our website or you provide us with transaction data, we collect
                        your personal information in order to save such information, to make a payment for the purchase of your
                        goods and/or services, to provide you with our services and permit us to send you your orders or to contact
                        you. (look at specific goal of profile and modify accordingly).
                    </li>
                    <li>
                        In the event you register for our newsletter, your e-mail address will be used in order to send you our
                        newsletters, which may include invites to events, seminars, etc. organized by us.
                    </li>
                    <li>
                        We process your personal data for the purpose of supporting the website and enhancing your user
                        experience, which includes ensuring the security, availability, performance, capacity and health of the
                        website.
                    </li>
                    <li>
                        We process your personal data to enforce or exercise any rights that are available to us based on the
                        applicable law, such as use for the establishment, exercise or defense of legal claims.
                    </li>
                    <li>
                        We may also use your personal data to fulfil our obligations as set out by the applicable law.
                    </li>
                </ol>
                <p>
                    The following categories of personal data can be distinguished:
                </p>
                <ol start="g">
                    <li>
                        <strong>Contact data:</strong> in the event you make use of the contact form, you will be asked to provide the following
                        information: name, address, e-mail address, phone number, and any personal data that you choose to put in
                        the designated blank field (please do not provide us with any sensitive information, such as health
                        information, information pertaining to criminal convictions, or credit card/account numbers). This is
                        information that is provided directly by you.
                    </li>
                    <li>
                        <strong>Profile data:</strong> If you create an account on our website, we collect the following personal data: name,
                        e-mail address, address and picture. This is information that is provided directly by you.
                    </li>
                    <li>
                        <strong>Newsletter:</strong> If you register for our newsletter, you will be asked to provide your e-mail address. This
                        is information provided directly by you
                    </li>
                    <li>
                        <strong>Usage data:</strong> We collect personal data regarding your activities on our website: IP address, device ID and
                        type, referral source, language settings, browser type, operating system, geographical location, length of
                        visit, page views, or information about the timing, frequency and pattern of your service use. This
                        information may be aggregated and used to help us provide more useful information regarding the use of our
                        website. In the event the usage data is completely anonymized (and can therefore not be traced back to you
                        as an individual), this will not be considered personal data for the purpose of this Privacy Policy. This is
                        personal data that is automatically collected through your use of the website.
                    </li>
                    <li>
                        <strong>Transaction data:</strong> We collect personal data relating to transactions that you make through the website,
                        including your “contact data”, payment information and the goods and/or services purchased. This is personal
                        data provided directly by you.
                    </li>
                    <li>
                        <strong>Information platform:</strong> We collect personal data regarding your use of the platform:
                        <ol type="i">
                            <li>
                                <i>Personal information:</i> username, password, email, first name, last name, picture, bio, address
                                information
                            </li>
                            <li>
                                <i>Activities:</i> tasting profiles, blogs, beers, breweries, purchase history, chatbot history
                            </li>
                        </ol>
                        This is personal data provided directly by you or collected via your <i>Facebook account</i> and/or <i>Google account</i> and <i>Google
                        Analytics.</i>
                    </li>
                </ol>
                <p>
                    In the event the legal basis for the processing of your personal data is consent, you will, at all times,
                    have the right to withdraw your consent. This will, however, not affect the lawfulness of any processing
                    done prior to the withdrawal of consent.
                </p>
                <p>
                    In the event the legal basis for processing is our legitimate interests the public interest, you will have
                    the right to object to such processing, as set out in article 4.12 of this Privacy Policy.
                </p>
                <p>
                    Your personal data will solely be used for the purposes as set out in this article.
                </p>
            </section>

            <section>
                <h5>3.&nbsp;&nbsp;RETENTION OF YOUR DATA AND DELETION</h5>
                <p>
                    Your personal information will not be kept for longer than is necessary for a specific purpose. However,
                    considering it is not possible for us to specify a period in advance, the period of retention will be
                    determined as follows:
                </p>
                <ol>
                    <li>
                        Until the person in question withdraws its consent.
                    </li>
                </ol>
                <p>
                    In the event you withdraw your consent or you object to our use of your personal data, and such objection is
                    successful, we will remove your personal data from our databases. Please note that we will retain the
                    personal data necessary to ensure your preferences are respected in the future.
                </p>
                <p>
                    The foregoing will, however, not prevent us from retaining any personal data if this is necessary to comply
                    with our legal obligations, in order to file a legal claim or defend ourselves against a legal claim, or for
                    evidential purposes.
                </p>
            </section>

            <section>
                <h5>4.&nbsp;&nbsp;YOUR RIGHTS</h5>
                <p>
                    This article lists your principal rights under data protection law. We have tried to summarize them for you
                    in a clear and legible way.
                </p>
                <p>
                    To exercise any of your rights, please send us a written request in accordance with article 1 of this
                    Privacy Policy. We will respond to your request without undue delay, but in any event within one month of
                    the receipt of the request. In the event of an extension of the term to respond or in the event we do not
                    take action on your request, we will notify you.
                </p>
                <h6>The right to access</h6>
                <p>
                    You have the right to confirmation as to whether or not we process your personal data and, in the event we
                    do so, you have the right to access such personal data, together with certain additional information that
                    you also find listed in this Privacy Policy.
                </p>
                <p>
                    You have the right to receive from us a copy of your personal data we have in our possession, provided that
                    this does not adversely affect the rights and freedoms of others. The first copy will be provided free of
                    charge, but we reserve the right to charge a reasonable fee if you request further copies.
                </p>
                <h6>The right to rectification</h6>
                <p>
                    If the personal data we hold about you is inaccurate or incomplete, you have the right to have this
                    information rectified or, taking into account the purposes of the processing, completed.
                </p>
                <h6>The right to erasure (right to be forgotten)</h6>
                <p>
                    In some circumstances, you have the right to the erasure of your personal data without undue delay. Those
                    circumstances include:
                </p>
                <ol>
                    <li>
                        The personal data are no longer needed in relation to the purposes for which they were collected or
                        otherwise processed;
                    </li>
                    <li>
                        You withdraw your consent, and no other lawful ground exists;
                    </li>
                    <li>
                        The processing is for direct marketing purposes;
                    </li>
                    <li>
                        The personal data have been unlawfully processed; or,
                    </li>
                    <li>
                        Erasure is necessary for compliance with EU law or Belgian law.
                    </li>
                </ol>
                <p>
                    There are certain exclusions to the right to erasure. Those exclusions include where processing is
                    necessary,
                </p>
                <ol>
                    <li>
                        for exercising the right of freedom of expression and information;
                    </li>
                    <li>
                        for compliance with a legal obligation; or,
                    </li>
                    <li>
                        for the establishment, exercise or defense of legal claims.
                    </li>
                </ol>
                <h6>The right to restrict processing;</h6>
                <p>
                    You have the right to restrict the processing of your personal data (meaning that the personal data may only
                    be stored by us and may only be used for limited purposes), if:
                </p>
                <ol>
                    <li>
                        You contest the accuracy of the personal data (and only for as long as it takes to verify that
                        accuracy);
                    </li>
                    <li>
                        The processing is unlawful and you request restriction (as opposed to exercising the right to erasure);
                    </li>
                    <li>
                        We no longer need the personal data for the purposes of our processing, but you require personal data
                        for the establishment, exercise or defense of legal claims; or,
                    </li>
                    <li>
                        You have objected to processing, pending the verification of that objection.
                    </li>
                </ol>
                <p>
                    In addition to our right to store your personal data, we may still otherwise process it but only:
                </p>
                <ol>
                    <li>
                        with your consent;
                    </li>
                    <li>
                        for the establishment, exercise or defense of legal claims;
                    </li>
                    <li>
                        for the protection of the rights of another natural or legal person; or,
                    </li>
                    <li>
                        for reasons of important public interest.
                    </li>
                </ol>
                <p>
                    We will inform you before we lift the restriction of processing.
                </p>
                <h6>The right to data portability</h6>
                <p>
                    To the extent that the legal basis for our processing of your personal data is consent, and such processing
                    is carried out by automated means, you have the right to receive your personal data from us in a structured,
                    commonly used and machine-readable format. However, this right does not apply where it would adversely
                    affect the rights and freedoms of others.
                </p>
                <p>
                    You also have the right to have your personal data transferred directly to another company, if this is
                    technically possible, and/or to store your personal data for further personal use on a private device.
                </p>
                <h6>The right to object to processing</h6>
                <p>
                    You have the right to object to the processing of your personal data on grounds relating to your particular
                    situation, but only to the extent that the legal basis for the processing is that the processing is
                    necessary for:
                </p>
                <ol>
                    <li>
                        The performance of a task carried out in the public interest or in the exercise of any official
                        authority vested in us;
                    </li>
                    <li>
                        The purposes of the legitimate interests pursued by us or by a third party.
                    </li>
                </ol>
                <p>
                    If you make such an objection, we will cease to process the personal information unless we can demonstrate
                    compelling legitimate grounds for the processing which override your interests, rights and freedoms, or the
                    processing is for the establishment, exercise or defense of legal claims.
                </p>
                <p>
                    You have the right to object to our processing of your personal data for direct marketing purposes
                    (including profiling for direct marketing purposes). If you make such an objection, we will cease to process
                    your personal data for this purpose.
                </p>
                <h6>The right to complain to a supervisory authority</h6>
                <p>
                    If you consider that our processing of your personal information infringes data protection laws, you have a
                    legal right to lodge a complaint with a supervisory authority responsible for data protection. You may do so
                    in the EU member state of your habitual residence, your place of work or the place of the alleged
                    infringement. In Belgium, you can submit a complaint to the Authority for the protection of personal data
                    (Privacy Commission), <i>Drukpersstraat 35, 1000 Brussel</i>
                    (<a href="mailto:commission@privacycommission.be">commission@privacycommission.be</a>), <a
                    href="https://www.privacycommission.be/nl/contact">https://www.privacycommission.be/nl/contact</a>.
                </p>
            </section>

            <section>
                <h5>
                    5.&nbsp;&nbsp;PROVIDING YOUR PERSONAL DATA TO OTHERS
                </h5>
                <p>
                    In order to provide you with our website, we work with service provider to process and store your personal
                    information. We use the following categories of service providers:
                </p>
                <ol>
                    <li>
                        E-mail traffic;
                    </li>
                    <li>
                        Analytics
                    </li>
                </ol>
                <p>
                    We may also disclose your personal data in the event such disclosure is required or necessary in order to
                    fulfil a legal obligation. We may also disclose personal data in order to protect your vital interests or
                    the vital interest of another natural person.
                </p>
                <p>
                    As such, we do not disclose your personal data to our social media partners. We do, however, make use of
                    social media plugins to direct you to our social media channels and to allow you to interact with our
                    content. These social media channels are <i>Facebook, Instagram, LinkedIn, Twitter, Google and Pinterest</i>. In
                    the event you click such link, such social media service provider may collect personal data about you and
                    may link this information to your existing profile on such social media.
                </p>
                <p>
                    We are not responsible for the use of your personal data by such social media service provider. In such
                    case, the social media service provider will act as controller. For your information only, we have included
                    the relevant links (these may be changed from time to time by the relevant service provider):
                </p>
                <ol>
                    <li>
                        Facebook: <a href="http://facebook.com/about/privacy">http://facebook.com/about/privacy</a>;
                    </li>
                    <li>
                        Instagram: <a href="https://help.instagram.com/155833707900388">https://help.instagram.com/155833707900388</a>;
                    </li>
                    <li>
                        LinkedIn: <a href="http://linkedin.com/legal/privacy-policy">http://linkedin.com/legal/privacy-policy</a>;
                    </li>
                    <li>

                        Twitter: <a href="http://twitter.com/privacy">http://twitter.com/privacy</a>;
                    </li>
                    <li>
                        Google: <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>;
                    </li>
                    <li>
                        Pinterest: <a href="http://policy.pinterest.com/en/privacy-policy">http://policy.pinterest.com/en/privacy-policy</a>.
                    </li>
                </ol>
            </section>

            <section>
                <h5>6.&nbsp;&nbsp;INTERNATIONAL TRANSFERS</h5>
                <p>
                    We will ensure that any transfer of personal data to countries outside of the European Economic Area will
                    take place pursuant to the appropriate safeguards.
                </p>
            </section>

            <section>
                <h5>7.&nbsp;&nbsp;COOKIES</h5>
                <p>
                    Our website makes use of cookies. For further information relating to our use of cookies, we refer you to
                    our <strong>Cookie Policy</strong>: <a routerLink="/policies/cookie">https://www.beerless.be/policies/cookie</a>.
                </p>
            </section>

            <section>
                <h5>8.&nbsp;&nbsp;AMENDMENTS TO THE PRIVACY POLICY</h5>
                <p>
                    From time to time, we have the right to modify this Privacy Policy. You will always be able to consult the
                    most recent version of the Privacy Policy on the website.
                </p>
            </section>
        </div>
    </div>
</div>
