<div class="page-header">
    <div class="container-no-m">
        <span class="page-header-title">Roadmap</span>
    </div>
</div>
<div class="container">
    <vertical-timeline>
        <vertical-timeline-card [timeString]="'2019'" class="no-content">
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="'Q3'" class="left">
            <h3 class="font-weight-bold">Release Bèta</h3>
            <p>Release of the platform with limited features for a small group of testers. The group of testers will be hand-picked.</p>
        </vertical-timeline-card>
        <vertical-timeline-card class="left no-image">
            <h3 class="font-weight-bold">Release App</h3>
            <p>You will also be able to use the mobile app.</p>
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="'Q4'" class="right">
            <h3 class="font-weight-bold">Extra features</h3>
            <ol>
                <li>Adding filters to the search engine.</li>
                <li>Adding the possibility to write your own blogs!</li>
                <li>Support system</li>
            </ol>
        </vertical-timeline-card>
        <vertical-timeline-card class="right no-image firework">
            <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
            </div>
            <h3 class="font-weight-bold">Release</h3>
            <div class="d-flex flex-row align-items-center">
                <p >Full release of the platform for everyone. No token invites are needed to join the platform.</p>
                <i class="fas fa-glass-cheers fa-2x text-primary mr-2 d-block d-none-sm mb-3"></i>
            </div>
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="'2020'" class="no-content">
        </vertical-timeline-card>
        <vertical-timeline-card [timeString]="'Q4'" class="left">
            <h3 class="font-weight-bold">Release Webshop</h3>
            <p>Release of the webshop feature for breweries. Breweries can now sell their beers on our platform.</p>
        </vertical-timeline-card>
    </vertical-timeline>
</div>
