<!-- MAIN NAVIGATION -->

<nav class="navbar navbar-expand-lg navbar-light px-4 py-0 bg-white fixed-top">


  <!-- Logo section -->

  <a class="navbar-brand ml-2" routerLink="/home">
    <img src="{{imageUrl + '/logo/logo_beerless_donker.svg'}}" alt="logo Beerless" style="height: 30px" class=""/>
  </a>


  <!-- Menu section -->

  <div class="collapse navbar-collapse my-0" id="navbarNavAltMarkup">
    <div class="ml-auto row h-100">


      <!-- Main menu -->

      <div class="navbar-nav position-relative d-flex align-items-center">
        <a class="nav-item nav-link nav-link-padding" routerLink="/home" routerLinkActive="active">Home</a>
        <!--<a class="nav-item nav-link nav-link-padding" href="https://www.platform.beerless.be/sign-in"-->
           <!--routerLinkActive="active">Platform</a>-->
        <div class="nav-divider"></div>
      </div>


      <!-- Right menu (signin, signup and profile) -->

      <div class="navbar-nav ml-2rem mr-2 d-flex align-items-center">


        <!-- Sign in -->

        <a *ngIf="!user" class="nav-item nav-link" href="https://www.platform.beerless.be/sign-in" routerLinkActive="active">
          <i class="fas fa-user-circle"></i> &nbsp;Log in
        </a>
      </div>
    </div>
  </div>
</nav>
