<div class="hero d-flex align-items-center">
    <div class="container container-no-p d-block">
        <div class="row d-flex">
            <app-hero-subscribe class="col-xl-4 col-lg-5 col-md-6 col-sm-8 d-sm-block d-none order-md-0 order-1 flex-wrap"></app-hero-subscribe>
        </div>
    </div>
</div>
<div class="sub-hero text-center d-flex align-items-center justify-content-center bg-white">
    <h1 class="text-uppercase text-muted d-lg-block d-none  pt-2">For&nbsp;<span class="text-yellow-light-1 font-weight-bold">beer&nbsp;geeks</span>, by&nbsp;<span class="text-yellow-light-1 font-weight-bold">beer&nbsp;geeks</span></h1>
    <h3 class="text-uppercase text-muted d-lg-none d-block  pt-3">For&nbsp;<span class="text-yellow-light-1 font-weight-bold">beer&nbsp;geeks</span>, by&nbsp;<span class="text-yellow-light-1 font-weight-bold">beer&nbsp;geeks</span></h3>
</div>
<div class="container my-5 pb-5 d-sm-none d-block">
    <app-hero-subscribe class="col-12"></app-hero-subscribe>
</div>
