<div class="card border-0 outer-glow-dark" id="heroSubscribeCard">
    <div class="card-body p-4">
        <p class="font-weight-bold"></p>
        <h4 class="mt-2 mb-4 pb-2 text-center">
            Discover everything about <span class="text-yellow font-weight-bold">craft beers</span>, together with the community.
            <!--Meld je nu <span class="text-yellow font-weight-bold">gratis</span> aan-->
        </h4>
        <div class="form-group mb-3 text-center">
            <!--<a href="https://www.platform.beerless.be/sign-up" class="btn btn-primary text-white px-5">Sign up</a>-->
            <a routerLink="/home" class="btn btn-primary text-white px-5">Sign up</a>
        </div>
    </div>
</div>
