<div class="page-header">
    <div class="container-no-m">
        <span class="page-header-title">Cookie policy</span>
    </div>
</div>
<div class="container policies" id="privacy">
    <div class="card">
        <div class="card-body p-sm-5 p-4">
            <section>
                <p class="text-right">
                    <i>This Cookie Policy was revised last on <strong>06/05/2019</strong>.</i>
                </p>
            </section>
            <section>
                <h5>What are cookies?</h5>
                <p>
                    Cookies are small pieces of data that a website asks your browser to store on your computer or
                    mobile device when you visit the website or certain pages. The cookie allows the website to
                    “remember” your actions or preferences over time. Most browsers support cookies, but users can set
                    their browsers to decline them and can delete them whenever they like.
                </p>
                <p>
                    Cookies will usually contain the name of the website where the cookie has come from, how long the
                    cookie will remain on your device, and a value which is usually a randomly generated unique number.
                </p>
                <p>
                    Some cookies will be deleted as soon as you leave the website (the so-called “session cookies”),
                    other cookies will remain stored on your computer or mobile device and will help us identify you as
                    a visitor of our website (the so-called “permanent cookies”).
                </p>
            </section>

            <section>
                <h5>Why do we use cookies?</h5>
                <p>
                    Cookies on our Website are used for a variety of different purposes.
                </p>
                <p>
                    We use cookies to improve the user-experience on the Website and to map your surfing behaviour (e.g.
                    the pages you have visited and the time you spent on that page). Cookies make our Website easier to
                    use and allow us to better tailor our Website to your interests and needs. Cookies are also used to
                    help speed up your future activities and experience on the Website. We use cookies, for example, to
                    remember your language preferences.
                </p>
                <p>
                    We also use cookies to compile anonymous, aggregated statistics that allow us to understand how our
                    Website is being used and how we can improve our services.
                </p>
            </section>

            <section>
                <h5>Which cookies do we use?</h5>
                <p>
                    We use first party and third party cookies:
                </p>
                <p>
                    First party cookies are cookies created by the Website itself. These cookies are used to optimize
                    your user-experience.
                </p>
                <p>
                    Third party cookies are cookies created by parties other than the Website. Third party cookies in
                    relation to our Website are Facebook, Twitter, LinkedIn and Google Analytics. Google Analytics is
                    Google’s analytics tool which helps us understand how you engage with the Website. It may use a set
                    of cookies to collect information and report Website usage statistics without personally identifying
                    individual visitors to Google. The main cookie used by Google Analytics is the ‘___ga’ cookie.
                </p>
                <p>
                    A further distinction can be made between the following types of cookies:
                </p>
                <ul>
                    <li>
                        <p>
                            <strong>Necessary cookies:</strong> These are required for the operation of our Website.
                            They include for example cookies that enable you to log in.
                        </p>
                        <p>
                            Our necessary cookies are named here:
                        </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Cookie name</th>
                                <th>Website</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>r-u-data</td>
                                <td><a href="https://beerless.be">https://beerless.be</a></td>
                            </tr>
                            <tr>
                                <td>accessToken</td>
                                <td><a href="https://beerless.be">https://beerless.be</a></td>
                            </tr>
                            <tr>
                                <td>chatbotSession</td>
                                <td><a href="https://beerless.be">https://beerless.be</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <p>
                            <strong>Analytical/performance cookies:</strong> These cookies allow us to analyse our
                            webtraffic, to see the number of users of our Website and how the users navigate through our
                            Website.
                        </p>
                        <p>
                            Our analytical/performance cookies are named here:
                        </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Cookie name</th>
                                <th>Website</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>__ga</td>
                                <td><a href="https://analytics.google.com">https://analytics.google.com</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <p>
                            <strong>Functional cookies:</strong> These cookies ‘remember’ the choices you made on our
                            Website (e.g. language preference) making the Website more user-friendly and enhancing your
                            user experience.
                        </p>
                        <p>
                            Our functional cookies are named here:
                        </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Cookie name</th>
                                <th>Website</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>legalAge</td>
                                <td><a href="https://beerless.be">https://beerless.be</a></td>
                            </tr>
                            <tr>
                                <td>cookieConsent</td>
                                <td><a href="https://beerless.be">https://beerless.be</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <p>
                            <strong>Targeting cookies:</strong> These show us the pages you have visited and the links
                            you have followed, making advertisements more relevant to your interests.
                        </p>
                        <p>
                            Our targeting cookies are named here:
                        </p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Cookie name</th>
                                <th>Website</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>__utma</td>
                                <td><a href="https://analytics.google.com">https://analytics.google.com</a></td>
                            </tr>
                            <tr>
                                <td>__utmz</td>
                                <td><a href="https://analytics.google.com">https://analytics.google.com</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </section>

            <section>
                <h5>How can you manage or delete cookies?</h5>
                <p>
                    You can at any time manage or delete cookies using the settings on your internet browser, allowing
                    you to refuse some or all cookies. Turning off cookies will limit the service that we are able to
                    provide and may affect your user-experience. Deleting cookies may result in manually adjusting
                    preferences every time you visit our Website. For more details about controlling and/or deleting
                    cookies, visit the page corresponding to your browser for more information:
                </p>
                <ul>
                    <li>
                        <a href="https://support.apple.com/kb/ph19214?locale=en_US">Safari</a>
                    </li>
                    <li>
                        <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en">Google
                            Chrome</a>
                    </li>
                    <li>
                        <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer">Mozilla
                            Firefox</a>
                    </li>
                    <li>
                        <a href="https://support.microsoft.com/en-us/kb/260971">Internet Explorer</a>
                    </li>
                </ul>
                <p>
                    For other browsers, please consult the documentation provided by the browser operator.
                </p>
            </section>
        </div>
    </div>
</div>
