<footer class="bg-dark mt-5">
    <div class="container container-no-p">
        <div class="row justify-content-md-between pt-5 pb-2 text-grey p-0 m-0">
            <div class="col-lg-4 col-sm-8 col-12 order-sm-0 order-1 p-0 my-lg-0 my-4">
                <div class="d-flex flex-column col-12 p-0 d-flex align-items-sm-start align-items-center">
                    <span class="small mt-1">Follow us</span>
                    <div class="row container p-0 m-0 mt-2 d-flex justify-content-sm-start justify-content-center">
                        <a class="btn btn-grey-dark text-grey icon-block" href="https://www.facebook.com/IAmBeerless/"
                           target="_blank" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-grey-dark text-grey icon-block ml-2"
                           href="https://www.youtube.com/channel/UC-pG2pmf82e9y6KdRkpV5zQ" target="_blank"
                           role="button"><i
                            class="fab fa-youtube"></i></a>
                        <a class="btn btn-grey-dark text-grey icon-block ml-2" href="mailto:info@beerless.be"
                           target="_blank" role="button"><i
                            class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 order-lg-1 order-2 p-0 pt-1">
                <!--<form action="">-->
                <label for="subscribe" class="small d-flex justify-content-sm-start justify-content-center">Subscribe to our newsletter</label>
                <div class="input-group mb-3">
                    <input type="email" class="form-control input-dark"
                           placeholder="Email address" id="subscribe" name="subscribe">
                    <div class="input-group-append">
                        <button class="btn btn-primary text-dark" type="submit">Subscribe</button>
                    </div>
                </div>
                <!--</form>-->
            </div>
            <div
                class="col-lg-4 col-sm-4 col-12 order-lg-2 order-sm-1 order-0 d-flex align-items-sm-end align-items-center flex-column p-0 pt-1 my-auto">
                <a class="d-inline-block" routerLink="/home">
                    <img src="{{imageUrl + '/logo/logo_beerless_muted.svg'}}" alt="Logo Beerless"
                         style="height: 40px; opacity: 0.3">
                </a>
                <!--<span class="small mt-2 d-flex">Voor en door <br/>bierliefhebbers</span>-->
            </div>
        </div>

        <div class="divider-dark"></div>

        <div class="py-3 text-grey small d-flex justify-content-md-between align-items-center flex-md-row flex-column">
            <span>
                Copyright {{date}} &copy; <strong>Beerless</strong>. All Rights Reserved.
            </span>
            <span>
                <a href="" class="mr-2 text-grey font-weight-bold">Privacy policy</a>
                <a href="" class="text-grey font-weight-bold">Terms of use</a>
            </span>
        </div>
    </div>
</footer>
