<app-hero></app-hero>
<div class="divider"></div>
<div class="container">
    <div class="my-5 py-5">
        <div class="text-center">
            <span class="badge badge-pill badge-yellow-light-2 text-yellow-dark py-3 px-4 mb-3 font-weight-normal">What is Beerless?</span>
            <h1 class="text-center mb-3">Online Craft Beer community</h1>
            <p class="mb-5 pb-5 font-weight-normal text-center text-dark">
                Beerless is a craft beer community for beer geeks, by beer geeks. Together with you, we want to build
                 the perfect community where every member feels at home.
            </p>
        </div>
        <div id="tabset-home">
            <app-tabset></app-tabset>
        </div>
    </div>
</div>


<!--Sectie: roadmap -->

<div class="bg-white">
    <div class="container py-5 d-flex flex-wrap align-items-center">
        <div class="text-center mt-5 mb-5 pb-2 col-12 col-md-6">
            <span class="badge badge-pill badge-yellow-light-2 text-yellow-dark py-3 px-4 mb-3 font-weight-normal">Roadmap</span>
            <h1 class="text-center mb-3">What's coming?</h1>
            <p class=" font-weight-normal text-center text-dark">
                Check out our <a routerLink="/roadmap">roadmap</a> and stay up to date with our new releases!
            </p>
        </div>

        <div class="col-12 col-md-6 mb-md-0 mb-5">
            <p class="font-weight-bold">Next in line</p>
            <div class="card card-hover p-4 mb-3">
                <h3 class="font-weight-bold">Release Bèta</h3>
                <p>Release of the platform with limited features for a small group of testers. The group of testers will be hand-picked.</p>
            </div>
            <a routerLink="/roadmap" class="btn btn-yellow text-white ml-auto">Go to roadmap <i class="fas fa-arrow-right ml-2"></i></a>
        </div>


    </div>
</div>


<!--Sectie: APP download-->

<div class="bg-super-light">
    <div class="container my-5 py-5 d-flex flex-wrap">
        <div class="col-lg-7 col-md-6 col-12 my-auto">
            <img src="{{imageUrl + '/home/app_mockup3.png'}}" alt="Examples of the Beerless app" class="img-fluid">
        </div>
        <div class="col-lg-5 col-md-6 col-12">
            <span class="badge badge-pill badge-yellow-light-2 text-yellow-dark py-3 px-4 mb-3 font-weight-normal">Beerless app</span>
            <h1 class="mb-3">The best experience for all of your devices</h1>
            <p class="font-weight-normal text-dark pb-2">
                Use Beerless everywhere you are! <br/><br/>
                We are going to make sure that every beer geek will be able to access all of the information through the website and the app.
                <br/><br/>
                Beerless will be available for Android, Windows and Apple.
            </p>
            <div class="mt-4">
                <a routerLink="/roadmap" class="btn btn-dark">
                    <span class="d-flex align-items-center">
                        <i class="fas fa-mobile-alt fa-2x mr-3"></i>
                        <span class="d-flex flex-column">
                            <span class="small text-left">Beerless app</span>
                            <!--<span class="font-weight-bold">Download here</span>-->
                            <span class="font-weight-bold">Coming soon!</span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--CTA register-->
