<app-hero></app-hero>
<div class="divider"></div>
<div class="container">
  <div class="my-5 py-5">
    <div class="text-center">
      <span class="badge badge-pill badge-yellow-light-2 text-yellow-dark py-3 px-4 mb-3 font-weight-normal">Wat is Beerless?</span>
      <h1 class="text-center mb-3">Online speciaalbier community</h1>
      <p class="mb-5 pb-5 font-weight-normal text-center text-dark">
        Beerless is een speciaalbier community voor en door bierliefhebbers. Wij willen, samen met jullie, een community
        bouwen waar iedere bierliefhebber zich thuis voelt en graag deel van uitmaakt.
      </p>
    </div>
    <div id="tabset-home">
      <app-tabset></app-tabset>
    </div>
  </div>
</div>
<!--&lt;!&ndash;Sectie: blog artikels (3/6)&ndash;&gt;-->
<!--<div class="bg-white">-->
  <!--<div class="container py-5">-->
    <!--<div class="text-center mt-5 mb-5 pb-2">-->
      <!--<span class="badge badge-pill badge-yellow-light-2 text-yellow-dark py-3 px-4 mb-3 font-weight-normal">Blog</span>-->
      <!--<h1 class="text-center mb-3">Nieuwe artikels</h1>-->
      <!--&lt;!&ndash;<p class="mb-5 pb-5 font-weight-normal text-center text-dark">&ndash;&gt;-->
      <!--&lt;!&ndash;</p>&ndash;&gt;-->
    <!--</div>-->

    <!--<div class="card-deck d-flex flex-md-row flex-column mb-5">-->
      <!--<div class="card mb-3 card-hover">-->
        <!--<img class="card-img-top" src="{{imageUrl + '/'}}" alt="Card image cap">-->
        <!--<div class="card-body">-->
          <!--<h5 class="card-title"><a routerLink="" class="link-black-yellow font-weight-bold">Dit zijn de Beste-->
            <!--Bockbieren van Nederland!</a></h5>-->
          <!--<p class="card-text">De winnaars van de Beste Bockbier competitie zijn bekend gemaakt! Wij hebben de winnende-->
            <!--bockbieren natuurlijk voor je op een rijtje gezet. Klik snel verder en ontdek welke...</p>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
          <!--<small class="text-grey"><img src="/src/assets/images/profielfoto_tom_nuyts.jpg" alt="profielfoto Tom Nuyts"-->
                                        <!--style="width: 30px" class="rounded-circle mr-3">Tom Nuyts-->
          <!--</small>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card mb-3 card-hover">-->
        <!--<img class="card-img-top" src="/src/assets/images/artikel_2.jpg" alt="Card image cap">-->
        <!--<div class="card-body">-->
          <!--<h5 class="card-title"><a routerLink="" class="link-black-yellow font-weight-bold">Brouwerij Maallust verdient-->
            <!--een plekje in de spotlight!</a></h5>-->
          <!--<p class="card-text">Wanneer je bockbier wordt verkozen tot lekkerste en bijna-beste bockbier van Nederland,-->
            <!--dan verdien je wel een mooi plekje in de spotlight. Deze week zetten we brouwerij...</p>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
          <!--<small class="text-grey"><img src="/src/assets/images/profielfoto_tijmen_elseviers.jpg"-->
                                        <!--alt="profielfoto Tijmen Elseviers" style="width: 30px"-->
                                        <!--class="rounded-circle mr-3">Tijmen Elseviers-->
          <!--</small>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card mb-3 card-hover">-->
        <!--<img class="card-img-top" src="/src/assets/images/artikel_3.jpg" alt="Card image cap">-->
        <!--<div class="card-body">-->
          <!--<h5 class="card-title"><a routerLink="" class="link-black-yellow font-weight-bold">Kordaat Pils van Lidl komt-->
            <!--nièt van Brouwerij Kordaat</a></h5>-->
          <!--<p class="card-text">"Kordaat?! Dat is de naam van mijn brouwerij!", dacht Milan toen hij Kordaat Premium-->
            <!--Pilsener voorbij zag komen. Hoe zit dat precies met de Kordaat Premium Pilsener van...</p>-->
        <!--</div>-->
        <!--<div class="card-footer">-->
          <!--<small class="text-grey"><img src="/src/assets/images/profielfoto_arno_stoop.jpg" alt="profielfoto Arno Stoop"-->
                                        <!--style="width: 30px" class="rounded-circle mr-3">Arno Stoop-->
          <!--</small>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--Sectie: APP download-->
<div class="bg-super-light">
  <div class="container my-5 py-5 d-flex flex-md-row flex-column">
    <div class="col-lg-7 col-md-6 col-12 my-auto">
      <img src="{{imageUrl + '/home/app_mockup3.png'}}" alt="Examples of the Beerless app" class="img-fluid">
    </div>
    <div class="col-lg-5 col-md-6 col-12">
      <span class="badge badge-pill badge-yellow-light-2 text-yellow-dark py-3 px-4 mb-3 font-weight-normal">Beerless app</span>
      <h1 class="mb-3">De beste ervaring op al jouw apparaten</h1>
      <p class="font-weight-normal text-dark pb-2">
        Neem Beerless overal met je mee! <br/><br/>
        We hebben ervoor gezorgd dat alle bierliefhebbers kunnen gebruik maken van de community, door deze zowel als
        <strong>website</strong> en <strong>app</strong> aan te bieden.<br/><br/>
        Beerless is beschikbaar voor Android, Windows en Apple apparaten.
      </p>
      <div class="mt-4">
        <a href="" class="btn btn-dark">
                    <span class="d-flex align-items-center">
                        <i class="fas fa-mobile-alt fa-2x mr-3"></i>
                        <span class="d-flex flex-column">
                            <span class="small text-left">Beerless app</span>
                            <span class="font-weight-bold">Download here</span>
                        </span>
                    </span>
        </a>
      </div>
    </div>
  </div>
</div>
<!--CTA register-->
