// Import Beerless variables file and bootstrap scss file
@import "~src/assets/stylesheets/variables";
@import "~bootstrap/scss/bootstrap.scss";

// Specific component css
#cookie-popup {
    position: fixed;
    z-index: 1000000000;
    width: 325px;
    background-color: #fff;
    left: 20px;
    bottom: 20px;
    border-radius: 0.5rem;
    font-size: small;
    padding: $spacer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;

    @include media-breakpoint-down(xs) {
        width: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }

    .btn {
        font-size: 0.8rem;
    }
}
