.bier-item-image {
  height: 75px;
  width: 75px;
}

app-beer-item {
  .card {
    i {
      opacity: 0;
      color: $yellow;
      font-size: 20px;
      transition: opacity ease-in-out 0.25s;
    }

    &:hover {
      border-left: 0.25rem solid $yellow;

      i {
        opacity: 1;
      }
    }
  }
}

.bieren-sidebar-image {
  height: 50px;
}

.card-group-beer-profile {
  //max-width: 400px;
}

.image-beer-profile {
  max-height: 300px;
}

.table-valign-top {
  td {
    vertical-align: top;
  }
}

#table-beer-profile {
  tr td:first-child {
    padding-right: 1.5rem;
  }
}
