.hero {
  background-image: url('https://assets.beerless.be/images/backgrounds/home_hero_extended.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 70vh;
  @include media-breakpoint-down(md) {
    height: 80vh;
  }
  width: 100%;

}

.sub-hero {
  height: calc(30vh - 80.6px);
  @include media-breakpoint-down(md) {
    height: 20vh;
  }
}

#heroSubscribeCard {
  background-color: rgba(255, 255, 255, 1);
}
