.modal-content {
    border: none;
    padding: ($spacer * 4);
    @include media-breakpoint-down(xs) {
        padding: ($spacer * 2);
    }
    background-color: #111111;
}

.modal-dialog {

}


.backdrop {
    opacity: 0.75 !important;
}
