.navbar {
  height: $navbar-height;
  //padding: 0 1rem;
  border-bottom: $muted-light 1px solid;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-brand {
  line-height: $navbar-height;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: $dark;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $yellow;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: $yellow;
  font-weight: bold;
}

//.navbar-mobile {
//  z-index: 9990;
//  .show {
//    background-color: #fff;
//    flex-basis: auto;
//    flex-grow: initial;
//    height: auto;
//    overflow-y: auto;
//
//    .mobile-sidebar {
//      width: 250px;
//      height: calc(100vh - 80px) !important;
//      //box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 20px;
//    }
//
//    .navbar-nav {
//      padding: 0.5rem ($spacer * 1);
//      margin: 0 !important;
//      display: flex;
//      align-items: start !important;
//
//      a {
//        display: flex;
//        flex-direction: column;
//        width: 100%;
//        align-items: start;
//      }
//
//      .nav-item {
//        padding: 0.5rem !important;
//      }
//    }
//
//    .nav-divider {
//      display: none;
//    }
//
//    .nav-submenu {
//      display: block;
//      opacity: 1;
//      border: none;
//      box-shadow: none;
//      position: relative;
//      left: auto;
//      bottom: auto;
//      transform: none;
//    }
//
//    #navbar-nav-links{
//      order: 1;
//    }
//
//    #navbar-nav-profile {
//      order: 0;
//    }
//  }
//}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;

  &:hover .nav-submenu-container {
    //max-height: 1000px;
    opacity: 1;
    display: block;
    transition: opacity 5s ease-in-out;

    animation: submenuShow 0.2s, opacity 0.15s;
    //animation-duration: 0.10s;

    //transition: max-height 0.5s ease-in-out;
  }
}

@keyframes submenuShow {
  0% {
    bottom: -40px;
  }
  100% {
    bottom: -15px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.nav-submenu-container {
  opacity: 0;
  display: none;

  font-weight: normal;
  bottom: -15px;
  left: 0rem;
  transition: opacity 5s ease-in-out;
  //z-index: 10;
  transform: translateY(100%);
  position: absolute;


  .nav-submenu {
    background-color: #fff;
    color: $dark;
    border: 1px solid $muted-light;
    border-top: $primary 0.25rem solid;
    padding: 1rem 0.5rem;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;

    &:hover {
      color: $primary;
    }

    a {
      padding: 0.5rem 1rem !important;
    }
  }
}

.nav-submenu-left {
  right: 0;
  left: auto;
}

.arrow-container {
  width: 100%;
  height: 15px;
  position: absolute;
  z-index: -1;
  top: -4px;
  left: 0;
  transform: translateY(calc(-50% - 1px));
  padding: 15px 0;

  .arrow-up {
    margin: 0 15px;
    transform: rotate(45deg);
    background-color: $primary;
    width: 10px;
    height: 10px;
    //border-left: 1px solid $muted-light;
    //border-top: 1px solid $muted-light;
  }
}

.navbar-collapse {
  height: 100%;
}

nav {
  .nav-link {
    padding: 0.5rem 1rem !important;
  }
}

.nav-divider {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1rem;
  height: $navbar-height;
  width: 1px;
  background-color: $muted-light;
}

.sidenav {
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 9989;
  background-color: #fff;
}

.sidenav-overlay {
  z-index: 9988;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-profile-picture {
  height: 35px;
  width: 35px;
  border: 1px solid $muted-light;
  border-radius: 0.25rem;
  background-position: center center;
  background-size: cover;
  //background-color: #000;
}

.ml-2rem {
  margin-left: 2rem;
}

.mr-lg-2rem {
  @include media-breakpoint-up(lg) {
    margin-right: 2rem;
  }
}

.mr-1rem {
  margin-right: 1rem;
}