<div id="landing">
    <div class="hero d-flex align-items-center justify-content-start">
        <div class="container col-md-pull-0 container-no-p">
            <div class="col-xl-8 col-lg-7 text-lg-left text-center">
                <h1 class="hero-title">Join our bèta program now!</h1>
            </div>
        </div>
    </div>
    <div class="sub-hero text-center d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="card col-xl-7 col-lg-6 shadow-lg" id="landing-stats">
                <div class="card-body">
                    <div class="landing-stat">
                        <h3>
                            3500
                        </h3>
                        <span>
                            Beers
                        </span>
                    </div>
                    <div class="landing-stat">
                        <h3>
                            1400
                        </h3>
                        <span>
                            Breweries
                        </span>
                    </div>
                    <div class="landing-stat">
                        <h3>
                            2000
                        </h3>
                        <span>
                            Tasting profiles
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
